{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

 {% block body %}

     {% include '_navbar.html.twig' %}

     <h1 class="article-title">Espace perso</h1>
     <h1 class="article-title">{{ app.user.email }}!</h1>

     <h2>Vos jeux favoris</h2>

     {% for article in userArticles %}


         <div class="row article-card">
             <div class="col s4 16 container">
                 <div class="card s1">
                     <div class="card-image">
                         <img src="{{article.poster}}" alt="" style="">
                     </div>
                     <div class="card-content">
                            <span class="card-title">{{ article.title }} -{{ article.plateform.name }}  <a id="watchlist" class="like" href="{{ path('article_watchlist', {id: article.id})}}">

                                </a></span>
                     </div>

                     <div class="card-action">
                         <a href="{{ path("article_show", { id: article.id }) }}">Voir la fiche</a>

                     </div>
                 </div>
             </div>
         </div>

     {% endfor %}

 {% endblock %}
