{% extends 'base.html.twig' %}

{% block title %} List of categories{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('home_index') }}">Back to home</a>
    </div>
    <div>
        <a href="{{ path('plateform_new') }}">Create new plateform</a>
    </div>

    <h1>Plateform</h1>
    {% for plateform in plateforms %}
        <div class="plateform-order">
            <img class="" src="{{plateform.image}}" alt="{{ plateform.name }} poster" style="width: 10%">
                <h2> - {{ plateform.name }}</h2>
                <h5>Date de sortie : {{ plateform.year }}</h5>
            <a href="{{ path("plateform_show", { id: plateform.id }) }}">Voir la fiche</a>

        </div>
    {% else %}
        No plateforms
    {% endfor %}
    <div>
        <a class="ref-return" href="{{ path('plateform_new') }}">Create new plateforms </a>
    </div>

{% endblock %}
