{% extends 'base.html.twig' %}

{% block title %}Plateform index{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}

    <h1 class="article-title">Liste des plateformes</h1>

    <a class="privateAdmin" href="{{ path('plateform_new') }}">Ajouter une plateforme</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plateform in plateforms %}
            <tr>
                <td>{{ plateform.name }}</td>
                <td>{{ plateform.year }}</td>
                <td>{{ plateform.description }}</td>
                <td>
                    <a class="lien" href="{{ path('plateform_show', {'id': plateform.id}) }}">Voir</a>
                    <a class="lien" href="{{ path('plateform_edit', {'id': plateform.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="lien" href="{{ path('index') }}">Revenir vers l'accueil</a>
    
{% endblock %}
