
{% extends 'base.html.twig' %}

{% block title %}Plateform #{{ plateform.id }}{% endblock %}


{% block body %}

    <div class="media">
        <img class="game-pictures" src="{{plateform.image}}" alt="{{ plateform.name }} poster">
        <div class="container-bloc">
            <h1 class="mt-0">{{ plateform.name }}</h1>
            <p>Plateforme : {{ plateform.name }}</p>
            <div class="container">

            <p>Description : {{ plateform.description }}</p>
            </div>
        </div>
    </div>

    <div class="bloc">
        <a class="lien" href="{{ path('plateform_index') }}">Retour sur la liste des plateformes</a>
    </div>
    <div class="bloc2">
        <a class="privateAdmin" href="{{ path('plateform_edit', {'id': plateform.id}) }}">Editer</a>
    </div>

    {{ include('plateform/_delete_form.html.twig') }}

{% endblock %}
