
{% extends 'base.html.twig' %}

{% block title %}Plateform #{{ plateform.id }}{% endblock %}


{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{plateform.image}}" alt="{{ plateform.name }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ plateform.name }}</h1>
            <p>Plateforme : {{ plateform.name }}</p>
            <p>Description :{{ plateform.description }}</p>
        </div>
    </div>
    <a href="{{ path('plateform_index') }}">
        Retour à la liste des plateformes
    </a>

    <div>
        <a href="{{ path('plateform_index') }}">back to list</a>
    </div>
    <div>
        <a href="{{ path('plateform_edit', {'id': plateform.id}) }}">edit</a>
    </div>

    {{ include('plateform/_delete_form.html.twig') }}

{% endblock %}
