{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('home_index') }}">Back to home</a>
    </div>
    <div>
        <a href="{{ path('article_new') }}">Create new article</a>
    </div>

    <h1>Voici les derniers articles</h1>
    {% for article in articles %}
        <div>
            <img class="" src="{{article.poster}}" alt="{{ article.title }} poster" style="width: 10%">
            <h2>{{ article.title }} -{{ article.plateform.name }}</h2>
            <a href="{{ path("article_show", { id: article.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

{% endblock %}
