{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>



        {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.poster) }}
        {{ form_row(form.plateform, {'attr': {'class': 'browser-default'} }) }}
        <input type='submit' value='Add new article'>
        {{ form_end(form) }}

    <a href="{{ path('article_index') }}">back to list</a>
{% endblock %}
