
{% extends 'base.html.twig' %}

{% block title %}Article #{{ article.id }}{% endblock %}


{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{article.poster}}" alt="{{ article.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <p>Plateforme : {{ article.plateform.name }}</p>
        </div>
    </div>
    <a href="{{ path('article_index') }}">
        Retour à la liste des articles
    </a>
{% endblock %}
